<!doctype html>
<html lang="ru">
{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
          href="{% static 'appointment/css/fontawesome-free-5.15.3-web/css/all.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'appointment/css/bootstrap/bootstrap.min.css' %}">

    {% block title %}
    {% endblock %}
    {% block own_css %}
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}


<script src="{% static 'dashboard/js/JQueryLocal.js' %}"></script>
<script src="{% static 'appointment/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
{% block own_js %}
{% endblock %}
</body>
</html>
