{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Электронная очередь на ЦТ</title>
{% endblock %}
{% block own_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'appointment/css/main.css' %}">
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        {% include 'dashboard/nav.html' %}
    {% endif %}
    <!--[if !IE]> -->
    {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
    {% endif %}
    <div class="main-center">

        <div class="alert-my alert-primary-my" role="alert">
            <img src="{% static 'appointment/img/favicon.ico' %}"  class="logo-img" alt="" loading="lazy"></a>
            ЭЛЕКТРОННАЯ ОЧЕРЕДЬ НА ЦТ
        </div>
		
		<div>
			<div class="d-flex justify-content-center" style="width:60vmin; margin: 0 auto;">
				{% if month_prev < 1 %}
					<a href="/?month={{ month_prev }}" class="nav-link-my disabled">
				{% else %}

					<a href="/?month={{ month_prev }}" class="nav-link-my">
	 
				{% endif %}
				
			   <div class="nav-month-prev"><i class="fas fa-chevron-left"></i></div>
				</a>
				<div style="margin: 0 auto;"><span class="month-name">{{ month_selected.month }} 2021</span></div>
				{% if month_next > 12 %}
					<a href="/?month={{ month_next }}" class="nav-link-my disabled">
				{% else %}
				
					<a href="/?month={{ month_next }}" class="nav-link-my">
				{% endif %}
				<div class="nav-month-next"><i class="fas fa-chevron-right"></i></div>
				</a>
			</div>
				<div align="center" style="margin-top: 1.5em;">
					<div style="width: 100vmin;">{% include 'appointment/date_picker.html' %}</div>
				</div>
		</div>	
			

        <div id="div_for_intervals"></div><br>

        <div>
            {% include 'appointment/appointment_input_form.html' %}
        </div>
    </div>
    <!-- <![endif]--><!--[if IE]>Ваш браузер не поддерживается<![endif]-->
{% endblock %}

{% block own_js %}
    <script src="{% static 'appointment/js/main.js' %}"></script>
    <script src="{% static 'appointment/js/form_validation.js' %}"></script>
{% endblock %}